[Unit]
Description=2N Doorbell SIP Monitoring
After=network.target

[Service]
Type=simple
User=tgouverneur
WorkingDirectory=/opt/2n-doorbell-monitor
ExecStart=/bin/bash -c 'source /opt/2n-doorbell-monitor/venv/bin/activate && exec python 2n-doorbell-monitor.py -d'
ExecStop=/bin/kill -s SIGTERM $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
